<!DOCTYPE html>
<html data-theme="winter">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
            <script src="https://cdn.tailwindcss.com"></script>
            <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    </head>
    <body class="min-h-screen bg-base-200">
        {# Flash Messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="toast toast-top toast-center z-50">
                    <div class="alert alert-{{ label == 'error' ? 'error' : (label == 'success' ? 'success' : 'info') }}">
                        <span>{{ message }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
